<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		<title>책정보 출력</title>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" >		
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</head>
	<body>
		<div class="container text-center">
			<div class="text-center"><h3>책 정보출력</h3></div>
				<div class="row">
					<div class="col">
						<table class="table table-hover">
							<thead>
								<tr> 
									<th scope="col">책번호</th>
									<th scope="col">책이름</th>
									<th scope="col">저자</th>
									<th scope="col">출판년도</th>
									<th scope="col">금액</th>
									<th scope="col">책정보수정</th>
									<th scope="col">책정보삭제</th>
								</tr> 
							</thead>
							<tbody>
								<th:block th:if="${#strings.isEmpty(bookList)}"> 
									<tr>
										<td colspan="3">등록된 책정보가 존재하지 않습니다</td>
									</tr>
								</th:block>
							 	<th:block th:if="${not #strings.isEmpty(bookList)}">
									<tr th:each="books : ${bookList}">
										<th scope ="row" th:text="${books.bookId}"></th>
						 				<td th:text="${books.title}"></td>
										<td th:text="${books.publisher}"></td>
										<td th:text="${books.year}"></td>
										<td th:text="${books.price}"></td>
									<td><button type="button" class="updateBtn btn btn-outline-success btn-sm">책정보수정</button></td>
										<td><button type="button" class="deleteBtn btn btn-outline-success btn-sm">책정보삭제</button></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			<div class="row">
				<div class="col">
						<div class="text-center"><h5>책정보등록</h5></div>
						<form id="insertForm" th:object="${bookVO}">
							<table>
								<tbody>
									<tr>
										<td>책번호</td>
										<td class="text-start">
											<input type="text" class="form-control" th:field="*{bookId}" readonly />
										</td>
									</tr>
									<tr>
										<td>책제목</td>
										<td class="text-start">
											<input type="text" class="form-control" th:field="*{title}" placeholder="책 제목입력" />
										</td>
										<td>저자</td>
										<td class="text-start">
											<input type="text" class="form-control" th:field="*{publisher}" placeholder="저자입력" />
										</td>
										<td>출판년도</td>
										<td class="text-start">
											<input type="text" class="form-control" th:field="*{year}" placeholder="출판년도입력" />
										</td>
										<td>가격</td>
										<td class="text-start">
											<input type="text" class="form-control" th:field="*{price}" placeholder="가격입력" />
										</td>
					 				</tr>
								</tbody>
							</table>
							<div class="text-end">
								<button type="button" class="btn btn-success btn-sm" id="insertBtn">책정보등록</button>
								<button type="button" class="btn btn-success btn-sm" id="cancleBtn">다시입력</button>
							</div>
						</form> 
				</div> 
			</div>  
		</div>  
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
		<script src="/js/common.js"></script>
		<script src="/js/book.js"></script>
		
	</body>
</html>